<bbq-nav></bbq-nav>
<div class="jumbotron text-center">
<h2>Highscore <span class="glyphicon glyphicon-king"></span></h2>
  <div class="row">
    <div class="col-lg-2">
      <div class="list-group"></div>
    </div>
    <div class="col-lg-2">
      <div class="list-group">
        <div class="list-group-item text-center"><strong>Platz</strong></div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="list-group">
        <div class="list-group-item text-center"><strong>Spieler</strong></div>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="list-group">
        <div class="list-group-item text-center"><strong>Gesamtpunkte</strong></div>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="list-group"></div>
    </div>
  </div>
  <div class="row" *ngFor="let user of users; let i = index">
    <div class="col-lg-2">
      <div class="list-group"></div>
    </div>
    <div class="col-lg-2">
      <div class="list-group">
        <div class="list-group-item text-center">{{i+1}}</div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="list-group">
        <div class="list-group-item text-center">{{user?.name}}</div>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="list-group">
        <div class="list-group-item text-center">{{user?.totalPoints}}</div>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="list-group"></div>
    </div>
  </div>
</div>
