<bbq-nav></bbq-nav>
<div class="jumbotron text-center">
  <h2>Suche dir eine Kategorien aus, die du spielen möchtest!</h2>
    <div class="container marketing">
      <div class="col-lg-4" *ngFor="let category of categories">
        <div class="well center-block">
          <img class="img-circle" src="{{'data:image/png;base64,'+category.image}}" alt="Generisches Platzhalter-Bild" width="140" height="140">
          <h2>{{category.name}}</h2>
          <p>Diese Kategorie enthält aktuell {{category.countQuestions}} Fragen.</p>
          <p><a class="btn btn-default" [routerLink] = "[category.id, 'play']" role="button">Jetzt diese Fragen spielen »</a></p>
        </div>
      </div>
    </div>
</div>
