<bbq-nav></bbq-nav>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#"><h3>Neue Quiz-Frage erstellen</h3></a></li>
  <li role="presentation"><a [routerLink] = "['/questions']"><h3>Meine Fragen editieren</h3></a></li>
</ul>
<!--            -  Formular   -       -->

<form name="form" (ngSubmit) = "f.form.valid && onSubmit()" #f="ngForm"  class="createQuestion" novalidate>
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <div class="form-group">


          <!--            -  Kategorie-Zuordnung   -       -->

          <div class="well center-block">
          <h4>Kategorie wählen:</h4>
          <select id="cat" name="category" class="form-control" [(ngModel)]="model.category" #category="ngModel">
            <option *ngFor="let category of categories" [ngValue]="category" [selected]="category.id == model.category.id">
              {{category.name}}
            </option>
          </select>
          </div>

          <!--            -  Frage anlegen   -       -->

          <div class="well center-block">
          <h4>Frage eintragen:</h4>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !questiontext.valid }">
            <input name="questiontext" [(ngModel)]="model.text" #questiontext="ngModel" type="text" class="form-control"
                 placeholder="Schreibe deine Quiz-Frage..." required>
          </div>
          </div>


        <!--            -  Antwort-Optionen einfügen   -       -->

          <div class="well center-block">
            <h4>Antwortoptionen eintragen:</h4>
            <div class="row">
              <div class="col-md-10">
                <div class="input-group" *ngFor="let answer of answers; let i = index">
                  <span class="input-group-addon">
                      <input type="radio" name="correct-answer" (click)="setAsRightAnswer(i)">
                  </span>
                  <input name="{{'name' + i}}" type="text" class="form-control" [(ngModel)]="model.answers[i].text">
                </div><!-- /input-group -->
              </div><!-- /.col-lg-6 -->
        </div><!-- /form-group -->
        <p></p>


        <!--                 -  Punkte   -              -->

              <h4>Punkte:</h4>
              <div class="radio-inline">
                <label name="p" for="inlineRadio1">
                  <input type="radio" name="p" id="inlineRadio1" [(ngModel)]="model.points" value="1"> 1
                </label>
              </div>
              <div class="radio-inline">
                <label for="inlineRadio2">
                  <input type="radio" name="p" id="inlineRadio2" [(ngModel)]="model.points" value="2"> 2
                </label>
              </div>
              <div class="radio-inline">
                <label for="inlineRadio3">
                  <input type="radio" name="p" id="inlineRadio3" [(ngModel)]="model.points" value="3"> 3
                </label>
              </div>
          </div>
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-share-alt"></span> <span class="glyphicon glyphicon-piggy-bank"></span>
          Ab damit in den Fragenkatalog</button>
        </div>
      </div><!-- /.panel-heading -->
    </div><!-- /.panel-default -->
</form>


<!-- Ausgaben vom Model um Binding zu prüfen

<pre>{{this.model | json}}</pre>
<pre>{{this.answers | json}}</pre>  -->


