<bbq-nav></bbq-nav>
<form class="createQuestion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Erstelle eine Quiz-Frage: </h3>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Insert your question text">
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" aria-label="...">
                        </span>
            <input type="text" class="form-control" aria-label="...">
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        <div class="col-lg-6">
          <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" aria-label="...">
                        </span>
            <input type="text" class="form-control" aria-label="...">
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
      <div class="row">
        <div class="col-lg-6">
          <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" aria-label="...">
                        </span>
            <input type="text" class="form-control" aria-label="...">
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        <div class="col-lg-6">
          <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" aria-label="...">
                        </span>
            <input type="text" class="form-control" aria-label="...">
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
      <p></p>
      <button type="submit" class="btn btn-default">Ab damit in den Fragenkatalog</button>
    </div><!-- /.panel-heading -->
  </div><!-- /.panel-default -->
</form>
<p></p>
<div class="panel-body">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Dein Fragenkatalog</div>

  </div>

  <!-- Table -->
  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>Frage</th>
      <th>Antwort richtig</th>
      <th>Antwort falsch</th>
      <th>Antwort falsch</th>
      <th>Antwort falsch</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Warum ist die Banane krumm?</td>
      <td>Affe war's</td>
      <td>Zebra war's</td>
      <td>Zebra war's</td>
      <td>Zebra war's</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Warum habe ich keine Freizeit?</td>
      <td>Wegen dem Studium</td>
      <td>@Wegen der Arbeit</td>
      <td>@Wegen der Arbeit</td>
      <td>@Wegen der Arbeit</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Raucht Bea?</td>
      <td>ja</td>
      <td>nein</td>
      <td>nein</td>
      <td>nein</td>
    </tr>
    </tbody>
  </table>
</div>
</div>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let question of questions">{{question.text}}</li>
</ul>
